In [1]:
import re #I'll want to use regex later

file = open("FloridaVoters.html", 'r') #opening the file

In [2]:
floridaLines = [] #initializing the list. 
for line in file: #I want to take every line in the file and make it its own index in the list
    floridaLines.append(line)
    
file.close() #Now that I have all the data from the file, I'll close it for safety.

In [3]:
#print floridaLines 
#looking at this and searching online, I've found that in HTML cells of a table are stored beween <td><\td>.
#I also notice that each cell has been placed on its own line by reading the raw data. So every cell of the table should 
#contain this <td><\td> line

In [4]:
tableData = [] #Initializing the list. I want to make a list of all the cells in the table. 
for lines in floridaLines: #for each line in my big list
    if "<td>" in lines: #if the table tag exists
        tableData.append(re.sub("<td>|</td>|\n|,","", lines)) #store it in my tableData list and clean it up with regex 
        #My regex says, when you find a "<td>" or "<\td> or return carriage or a comma, replace it with "" for lines

In [5]:
#tableData #I now have all the table data and it's clean. 
#test block please ignore

In [6]:
#re.sub("<td>|<\td>", "", "<td>Hi!<\td>") #just testing my regex 
#Test block please ignore

In [7]:
fullTable = [] #Initializing 

for i in range(0,len(tableData),6):
    innerTuple = () #Unnecessary, but for clarity, I'm showing this tuple being reinitialized
    innerTuple = (tableData[i],int(tableData[i+1]),int(tableData[i+2])) #Since the values we want are i, i+1, and i+2, it is easy to retrieve them
    fullTable.append(innerTuple) #Added to the the list. So it should be a list of tuples.

In [8]:
fullTable = sorted(fullTable, key = lambda x:x[2]) #Sorted it with the sorted function. Used a lambda expression to make it sort by the 3rd item in the tuple

In [9]:
#fullTable #Just taking a look at my beautiful work

In [10]:
for tup in fullTable: #Printing tuple by tuple 
    print '{0:12s}'.format(tup[0]) + '{0:10d}'.format(tup[1]) + '{0:10d}'.format(tup[2]) #Lots of fun with formatting

LAFAYETTE         1373      2672
GLADES            2190      3110
LIBERTY            720      3372
UNION             2752      3579
GILCHRIST         5789      3652
FRANKLIN          2234      4319
HOLMES            5282      4434
GULF              4234      4521
HARDEE            4859      4702
HAMILTON          2154      4796
DIXIE             3314      4839
CALHOUN           2201      5324
WASHINGTON        7101      5687
JEFFERSON         2636      5802
BAKER             6963      5813
BRADFORD          6878      6533
TAYLOR            3950      6915
MADISON           2992      7158
DESOTO            4870      7181
OKEECHOBEE        7755      7756
HENDRY            5862      7999
WAKULLA           7374      8889
LEVY             11665      9509
WALTON           25609     10013
SUWANNEE         10745     11126
NASSAU           32958     14013
COLUMBIA         15790     14797
JACKSON           9626     15706
MONROE           20602     17614
HIGHLANDS        27100     19997
PUTNAM           17067     20606
GADSDEN           4372     22161
SUMTER           47158     22977
FLAGLER          30047     24734
OKALOOSA         75154     25172
SANTA ROSA       73627     26114
MARTIN           53800     27358
INDIAN RIVER     47794     28204
CITRUS           46373     30440
BAY              57456     30733
CLAY             76584     31285
CHARLOTTE        54421     35602
ST. JOHNS        88385     39531
HERNANDO         51254     42499
COLLIER         100167     45511
LAKE             93604     67237
MANATEE          96063     67926
ESCAMBIA         90265     70180
OSCEOLA          44594     75657
ST. LUCIE        59626     76163
MARION           97306     76268
ALACHUA          47329     77996
SARASOTA        125872     89711
SEMINOLE        107833     91686
LEON             54554    103140
PASCO           125305    104324
LEE             180718    114633
VOLUSIA         121402    124136
BREVARD         167129    127435
POLK            140619    143799
PINELLAS        223077    221968
DUVAL           210195    229501
ORANGE          206174    303458
HILLSBOROUGH    257436    314265
PALM BEACH      245452    367236
MIAMI-DADE      362161    539367
BROWARD         249762    566185
Total          4377713   4637026